.box {
    height: 30px;
    width: 30px;
    text-align: center;
}

.border-color {
    border: 1px;
    border-style: solid;
    border-color: black;
}

.pink {
    background-color: #ffcce6;
}

.yellow {
    background-color: #faf4a2;
}

.level-row-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.col-flex {
    display: flex;
    flex-direction: column;
}

.center {
    display: block;
    text-align: center;
}

.bottom {
    position: relative;
    top: 2em;
}

.center-flex {
    margin-top: 1%;
    align-items: center;
    justify-content: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footer p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #fa6257;
}